<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <%- include('navbar') %>

    <h1>Profile</h1>

    <form action="/profile" method="post">
       

        <!-- <button>Update Profile</button> -->
        <h2>Orders</h2>

        <p>Order Number: <%= cartOrder.orderNumber %></p>
        <p>Date: <%= cartOrder.date %></p>
        <p>Total: <%=  cartOrder.total %></p>
        <p>Points: <%= cartOrder.points %></p>
        
        

     

 
    </form>
</body>
</html>